<%- include('partials/header') %>
<form action="/changepassword/<%=username%>" method="POST">
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" class="form-control" name="confirm_password" required>
    </div>
    <button type="submit" class="btn btn-dark">Change</button>
</form>

<%- include('partials/footer') %>